@font-face {
  font-family: Bite;
  src: url("../resources/fonts/BiteChocolate-2RGl.ttf");
}

#cuisines {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  text-align: center;
}
.cuisinesBtns {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.cuisineBtnWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cuisineBtnWrap span {
  margin-top: 0.9rem;
  font-family: Bite;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.cuisineBtn {
  width: 5rem;
  padding: 1.5rem 1.4rem;
  border-radius: 60%;
  border: none;
  outline: none;
  cursor: pointer;
}
.cuisinesCheckB {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.typesCb {
  margin-top: 0.5rem;
}
.cuisineBtn:first-child {
  background: url("../resources/images/italy.png") no-repeat center center/cover;
}
.cuisineBtn:nth-child(2) {
  background: url("../resources/images/africa.png") no-repeat center
    center/cover;
}
.cuisineBtn:nth-child(3) {
  background: url("../resources/images/china.png") no-repeat center center/cover;
}
.cuisineBtn:nth-child(4) {
  background: url("../resources/images/france.jpg") no-repeat center
    center/cover;
}
#cuisine-result {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}
#cuisine-result h2 {
  font-size: 1.2rem;
}
#internationalCuisine {
  width: 74%;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.1rem;
  font-family: Bite;
  font-weight: 100;
}

#flagAboutCuisine {
  text-align: center;
  font-family: Bite;
  text-transform: capitalize;
  font-style: italic;
}
#flagAboutText {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
}
