#filter{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#filter div{
    margin: 1rem;
}

#all-country-filter{
    width: 30%;
    margin: 5% auto;
}

#filter{
    width: 80%;
    margin: 3% auto;
}

#search-recepie-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-recipe{
    padding: 1rem;
}