.slide-out-bck-tr {
  -webkit-animation: slide-out-bck-tr 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bck-tr 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-bck-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px)
      translateX(1000px);
    transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px)
      translateX(1000px);
    transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}

.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

li a:hover{
  color: #FACB0B!important;
}

.dropbtn:hover{
  color:#FACB0B!important;
}