body {
  font-family: "lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  height: 13vh;
 
}
.header ul li{
  background-color: #facb0b;
}

header a{
  color:black
}
header .dropbtn{
  color: black;
}

.header ul {
  margin: 0;
  padding: 0 10% 0px 0px;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;

  text-decoration: none;
}
.header li a:hover{
  background-color: #facb0b;
}

.header li {
  border-right: 1px solid #f4f4f4;
}


.header .logo {
  display: block;
  float: left;
  /*padding: 10px 0px 10px 10px;*/
  text-decoration: none;
  margin: 0;
  box-sizing: content-box;
  display: flex;
    justify-content: center;
    align-items: center;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 28px;
  text-align: center;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
  content: "";
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

footer {
  background-color: #facb0b;
}

.firstFooterRow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

footer h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

footer p {
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.thirdFooterRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 50px 0px 50px 0px;
  justify-self: center;
}
.firstSocial {
  text-align: right;
}
.thirdSocial {
  text-align: left;
}
.secondSocial {
  text-align: center;
}

.thirdFooterRow img {
  width: 100%;
  justify-self: center;
}

.copyrights {
  background-color: rgb(83, 83, 83);
  color: white;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #facb0b;
  color: black;
  padding: 22px;
  font-size: 16px;
  border: none;
  z-index: 100!important;
  outline: none;
  cursor: pointer;
}
.dropbtn:hover {
  color: #facb0b;
}
.dropbtn::after {
  content: url("../Img/down-arrow\\(1\).png");
  margin-top: 1rem;
  
}


.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #facb0b;
  min-width: 160px;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}


.dropdown-content a:hover {
  background-color: rgb(53, 53, 53)!important;
  transform: translateY(0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0);
}

@keyframes hoverSocial {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: black;
  }
}

.activeHeaderLink{
  color: #facb0b;
}

@media (min-width: 1028px) {
  .header li {
    float: left;
  }
  .dropbtn {
    background-color: rgb(253, 253, 253);
  }

  .header li a {
    padding: 20px 30px;
  }
  .header ul {
    margin-top: 2.5vh;
  }

  .header ul li{
    background-color: transparent;
  }
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header img {
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .header img:hover {
    animation: hoverSocial 1s forwards;
  }

  .header .logo {
    /*padding-left: 10%;*/
  }

  .header .menu-icon {
    display: none;
  }

  .header ul {
    overflow: visible;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .footerContent {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 100px auto;
  }

  .firstFooterRow,
  .secondFooterRow,
  .thirdFooterRow {
    width: 33%;
  }

  .firstFooterRow img {
    width: 50%;
    margin: auto;
  }

  .copyrights {
    width: 100%;
  }

  footer .secondFooterRow h1 {
    text-align: left;
    font-family: "poppins", sans-serif;
    font-weight: 700;
  }

  footer .secondFooterRow p {
    text-align: left;
    padding: 0px 50px 0px 0px;
  }

  footer img {
    margin-top: -70px;
  }

  .thirdFooterRow img {
    width: 80%;
    justify-self: center;
  }
}
