.section1{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.sidebar{
    width: 100%;
    margin: 0 auto;
}
.slider{
    width: 70%;
}
