@font-face {
  font-family: Bite;
  src: url("../resources/fonts/BiteChocolate-2RGl.ttf");
}
:root {
  --main-font-color: #facb0b;
  --fav-font-color: #c59d5f;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 75vw;
  height: 75vh;
  border-radius: 0.9rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}

#modalBtn {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  /*  border-bottom: 1px solid #c59c5f59; */
  outline: none;
  width: 50%;
  font-family: Bite;
  font-size: 1rem;
  color: var(--fav-font-color);
}
#modalBtn:hover {
  cursor: pointer;
}
.modalTitle {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--fav-font-color);
  font-size: 1rem;
  margin-bottom: 2rem;
}
.modalMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modalLeft {
  width: 40%;
}
.modalLeft .modalTop h2 {
  text-align: center;
}

.modalLeft .modalBottom h3 {
  text-align: center;
  font-family: Bite;
  color: var(--fav-font-color);
}
h2 {
  color: var(--fav-font-color);
  font-family: Bite;
  font-size: 1.3rem;
}

.modalRight img {
  width: 75%;
}

.modalRight {
  width: 58%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.modalRight .modalBottom {
  display: flex;
  justify-content: space-between;
}
